
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^rd\.scoolab\.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rd\.scoolab\.ru$
RewriteRule ^/?$ "https\:\/\/rd\.scoolab\.ru\/" [R=301,L]
